html {
    margin: 0;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}
body {
    margin: 0px;
    top: 0;
    right: 0;
}
.portfolio-hero {
    background: url(../img/hero-web.jpg) no-repeat center center fixed;
    height: 100vh;
    background-size: cover;
    text-align: center;
    color: rgba(111, 116, 131, 0.979);
}
.portfolio-menu ul {
    margin: 0;
    display: flex;
    justify-content: center;
    padding-top: 15px;
    font-size: 1.34rem;
}
.portfolio-menu ul li {
    margin: 0px 10px;
    list-style: none;
}
.portfolio-menu .menu-item a{
    color: rgb(0, 0, 0);
    text-decoration: none;
    text-transform: uppercase;
}

.portfolio-profile {
    width: 650px;
    height: 400px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 50%);
    text-align: center;
}
.portfolio-profile img {
    height: 250px;
    width: 250px;
    border-radius: 50%;
}
.portfolio-profile h1 {
    font-weight: 300;
    margin: 15px;
    font-size: 3.2rem;
}

.portfolio-profile h2 {
    font-weight: 300;
    margin: 0px;
    font-size: 2.2rem;
}

/* MAIN */
main {
    margin: 0;
    padding: 0;
    background-color: rgb(32, 31, 31);
    text-align: center;
}
#about {
    padding: 45px;
    color: white;
}
#about h2{
    margin: 0;
    font-size: 2.5rem;
    font-weight: 300;
}
#about p {
    font-size: 1.3rem;
    font-weight: 300;
}
#skills {
    color: rgb(228, 104, 104);
    background-color: #7e7e80;
    padding-top: 15px;
    background: url(../img/fb1.jpg) no-repeat center center fixed;
    height: 80vh;
    background-size: cover;
    text-align: center;
}

#skills h2{
    font-size: 2.5rem;
    font-weight: 300;
    margin: 20px 0px;
}
#skills h3{
    font-size: 1.8rem;
    font-weight: 300;
}
.skill-main-grid {
    
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.skill-main-grid h2 {
    font-size: 1.5rem;
}
.portfolio-form {
    background-color:#242931;
    text-align:center;
    color: white;
    padding: 30px 450px;
}
.portfolio-form h2 {
    font-weight: 300;
    text-transform: uppercase;
    margin: 0;
    padding-bottom: 30px;
}

.form-label {
    padding: 10px 0px;
    font-size: 1.3rem;
}
.form-input input{
    width: 100%;
    padding: 7px 0px;
    border-radius: 8px;
}
.form-input input:focus {
    transition: .7s;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
}
.form-input-textarea {
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 10px;
    width: 100%;
    padding: 7px 0px;
    height: 200px;
}

.form-input-textarea textarea:focus {
    transition: .7s;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
}
.form-submit {
    margin-top: 5px;
    text-align: right;
}
.btn-submit {
    
    padding: 5px 15px;
    text-decoration: none;
    color: white;
    background-color: green;
}
.footer {
    color: white;
    text-align: center;
    padding: 20px;
    background:#745826 ;
}